In [1]:
import os
from importlib import reload  
from lib import api
reload(api)

data_dir = os.environ.get("DESAL_HOME") or "~/data"
api.load(data_dir)

In [2]:
api.ppm_biweekly_average().head()
api.ppm_monthly_average().head()
api.ppm_yearly_average().tail()

    year         ppm
42  2016  404.258269
43  2017  406.570943
44  2018  408.553654
45  2019  411.470192
46  2020  413.877273

In [3]:
api.ppm_at("2012-01-02")

,date,ppm,1 yr ago.,10 yr ago,since 1800,# days,year,month,day,decimal
1962,2011-12-25,392.20,389.88,371.72,112.50,7,2011,12,25,2011.9822
1963,2012-01-01,392.96,391.41,372.30,113.00,7,2012,1,1,2012.0014
1964,2012-01-08,393.37,391.12,372.26,113.24,6,2012,1,8,2012.0205
1965,2012-01-15,392.97,391.41,372.80,112.69,7,2012,1,15,2012.0396